<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APGB - Home</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/topvav.css">
    
</head>

<body>
    <div class="topnav"></div>
    <script src="/assets/scripts/topnav.js"></script>
    <div class="cent">
        <h1>Hello Im <a class="rainbow">AirplaneGoBrr</a></h1>
        <h2>This is my website... It contains some of my <a class="link" href="/projects">projects</a> and <a class="link" onclick="alert('Under maintenance')">files</a></h2>
        <br><br>
        <h2>My Soicals:</h2>
        <!-- Open in new tab -->
        <h3><a href="https://discord.com/users/250029754076495874" target="_blank">Discord</a></h3>
        <h3><a href="https://github.com/AirplanegoBrr" target="_blank">Github</a></h3>
        <h3><a href="https://twitter.com/Airplanegobrr" target="_blank">Twitter</a></h3>
        <h3><a href="https://www.reddit.com/user/gamesky1234" target="_blank">Reddit</a></h3>
        <h3><a href="https://www.twitch.tv/airplanegobrr_" target="_blank">Twitch</a></h3>
        <h3><a href="https://www.youtube.com/channel/UCTkuvk9BzV8-L4tvVHdBqLQ" target="_blank">YouTube</a></h3>
        <h3><a href="" target="_blank">NA</a></h3>
    </div>
</body>

</html>