<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APGB - Home</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/topvav.css">
    <link rel="stylesheet" href="/assets/styles/about.css">
</head>

<body>
    <div class="topnav"></div>
    <script src="/assets/scripts/topnav.js"></script>

    <div class="grid-container">
        <div class="item1">
            <h1>Hi!  I'm Airplane!</h1>
            <p>Also know as Charlie/Charles</p>
            <p>I'm a programer, I'm 17 and live in the USA</p>
            <p>I've been programing for 3~ years</p>
            <br>
            
            <p>I have <b>worked</b> in the following languages</p>
            <div class="maina">
                <p class="boxa">Javascript (NodeJS)</p>
                <p class="boxa">Lua (Roblox)</p>
                <p class="boxa">HTML, CSS</p>
                <p class="boxa">Python</p>
                <p class="boxa">C++</p>
            </div>

            <br>
            <p>I have worked with the following libraries</p>
            <div class="maina">
                <p class="boxa">Discord.js (JS) </p>
                <p class="boxa">Express (JS)</p>
                <p class="boxa">Socket.io (JS)</p>
                <p class="boxa">Vex (C++)</p>
            </div>
            
            <h1> Some cool projects:</h1>
        </div>
        <div class="item2">Menu</div>
      </div>
</body>

</html>
