<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>APGB - Pingcord</title>


    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/topvav.css">
    <link rel="stylesheet" href="/assets/styles/about.css">
    <script async src="https://arc.io/widget.min.js#j5Qgttko"></script>
</head>

<body>
    <div class="grid-container">
        <div class="item1">
            <h1>Pingcord is not done, and is moving (when/if done)!</h1>
            <p>Keep upto date on the <a href="https://github.com/AirplaneGobrr-Trash/pingcord">Github</a></p>
            <p>Pingcord is ment to be like Discord but without the bullshit (nitro, usernames, etc)</p>
        </div>
    </div>
</body>
</body>

</html>