<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APGB - Projects</title>
    
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/assets/styles/topvav.css">
    
</head>

<body>
    <div class="topnav"></div>
    <script src="/assets/scripts/topnav.js"></script>

    <div class="cent">
        <h1 class="rainbow shrink">Projects</h1>
    </div>

    <div class="main">

        <div class="box shrink">
            <h1 class="shrink">BB / BP</h1>
            <p class="shrink">
                BB / BP (Block breaker / Block Placer) is a custom plugin!
                <br>
                It turns dispencers into BBs/BPs
            </p>
            <img class="images shrink" src="/assets/images/dispencer.png"></img>

            <p class="shrink">Github: <a class="link" href="https://github.com/AirplanegoBrr/BlockBreaker-BlockPlacer">Here</a></p>
            <p class="shrink">SpgiotMC: <a class="link" href="https://www.spigotmc.org/resources/block-breaker-block-placer.100472">Here</a></p>
        </div>

        <div class="box shrink">
            <h1 class="shrink"><abbr title="Shulker stackings">SS!</abbr></h1>
            <p class="shrink">
                This plugin allows you to put shulkers in shulkers!!
                <br>
                This is probably a bad idea!
            </p>
            <img class="images shrink" src="/assets/images/shulker.png"></img>

            <p class="shrink">Github: <a class="link" href="https://github.com/AirplanegoBrr/shulker-in-a-shulker">Here</a></p>
            <p class="shrink">SpgiotMC: <a class="link" href="https://www.spigotmc.org/resources/shulker-in-a-shulker.102620">Here</a></p>
        </div>

        <div class="box shrink">
            <h1 class="shrink"><abbr title="Caol to Diamonds">CTD</abbr></h1>
            <p class="shrink">
                This plugin allows you to turn Coal blocks into Diamonds
            </p>
            <img class="images shrink" src="/assets/images/coalToDiamond.png"></img>

            <p class="shrink">Github: <a class="link" href="https://github.com/AirplanegoBrr/coal-to-diamonds">Here</a></p>
            <p class="shrink">SpgiotMC: <a class="link" href="https://www.spigotmc.org/resources/coal-to-diamonds.103896">Here</a></p>
        </div>
        
        
    </div>
</body>

</html>