<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Status - AirplaneGobrr">
    <meta name="description" content="AirplaneGobrr (APGB) is a dev. ">
    <meta name="keywords" content="AirplaneGorr, APGB, airplane, airplanego, airplanegobrr, gobrr , go, brr">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="10 days">
    <meta name="author" content="AirplaneGobrr">
    <link href="/assets/styles/style.css" rel="stylesheet">
    <title>UrServerBad - APGB</title>
</head>

<body>
    <div style="text-align:center;">

        <h1>THE SERVER SUCKS!</h1>
        <h2>Please contact the server owner.</h2>
        <p> Warning loud</p>

        <p id="refer"> </p>
        <script>
            var referrer = document.referrer;
            if (referrer == "") {
                referrer = "prob discord";
            }
            document.getElementById("refer").innerHTML = "You came from: " + referrer;
        </script>
        <br>

        <video width="960" height="720" controls>
            <source src="/files/stupidServer.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div style="text-align:center;">
        <h3>The lyrics:</h3>

        <p>
            Let me tell you how much I hate this server.
            <br>
            The mods are fucking pedophiles
            <br>
            (Yuck)
            <br>
            You're all homophobic and Violently racist too
            <br>
            (Scum)
            <br>
            It's not even a joke either
            <br>
            (Cringe)
            <br>
            You're all more toxic then a fucking scorpion
            <br>
            (Toxic)
            <br>
            Just fucking go outside
            <br>
            I can't stand seeing your fucking name
            <br>
            Just delete your fucking accounts before I fucking vomit
            <br>
            Your parents are disgusted with you
            <br>
            (Disown)
            <br>
            Too bad the fucking Condom broke
            <br>
            (Snapped)
            <br>
            And no you can't fucking Lift
            <br>
            (Lies!)
            <br>
            The e-girl doesn't like you back
            <br>
            (Alone)
            <br>
            I think we're fucking done here
            <br>
            I'm leaving this goddamn server
            <br>
            I'm going to live a happy life
            <br>
            While you're jacking off to A loli
        </p>
    </div>


    <div style="text-align:center; align-items: center;"> <button onclick="goBack()">Go Back</button> </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>